html {
    background: white);
    position: fixed;
    width: auto;
    
}

body {
    width: auto;
    
    padding: 50px;
    margin-top: 200px;
    margin-left: 20%;
    background: url(../images/Screen\ Shot\ 2019-04-05\ at\ 11.29.33\ PM.png)
}