html {
    background: white;
    position: fixed;
    width: auto;
    background: url(../images/6361.jpg);
    
}

.card {
    position: relative;
    margin: 50px 200px;

    
}

body {
    width: auto;
    padding: 10px;
    background:darkmagenta;
    position: relative;

}

h1{
    color: gold;
    font-family: 'serif', Times, 'Times New Roman', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

h2, h3, h4{
    color: yellowgreen;
    font-family: 'serif', Times, 'Times New Roman', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

p{
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    
}